* {
    font-family:Arial, Helvetica, sans-serif;
    flex-shrink: 1;
}


.main-header {
    height: 14vh;
    width: 100%;
    background-color: rgb(120, 139, 247);
    border: solid white 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;

}

.navbar {
    height:8vh;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    border: solid white 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}




h1 {
    color: rgb(255, 255, 255);
    align-self: center;
    text-shadow: 2px 2px black;
    font-size: 8vh;
   
}


li {
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 20px;
    margin: 5px;
    list-style-type: square;
    list-style-position: inside;
}

ul {
    list-style-type: square;
    list-style-position: inside; 
}

#about-me-img {
    height: 250px;
    width: 200px;
    margin: 6vh;
    border: white solid 8px;
    border-radius: 80px;
    display:flex;
    align-items: flex-start;
    position: relative;
    bottom: 40px;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color:rgb(225, 210, 255);
    Border: solid white 4px;
    border-radius: 20px;
    margin-top: 8vh;
} 

#about-me-text {
    font-size: 20px;
    line-height: 2;
    color: black;
    
}

.img-2 {
    height: 200px;
    width: 160px;
    align-items: end;
    border: white solid 8px;
    border-radius: 80px;
    margin-left: auto;
    margin-right: auto;

}


.portfolio {
    display: flex;
    flex-direction: column;
    background-color:  rgb(225, 210, 255);
    Border: solid white 4px;
    border-radius: 20px;
    margin-top: 8vh;
    width: 60%;
}   
 

.contact-me-list {
    display: flex;
    display: inline;
    justify-content: flex-end;
    color: black;
    font-size: 30px;
    margin-top: 80px;
}

.contact-me {
    height: 200px;
    width: 100%;
    background-color:rgb(252, 210, 255);
    Border: solid white 4px;
    border-radius: 20px;
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
}



h2 {
    text-decoration: underline;
    font-size: 5vh;
    text-align: center;
    
}



