* {
    font-family:Arial, Helvetica, sans-serif;
    flex-shrink: 1;
}


.main-header {
    height: 14vh;
    width: 100%;
    background-color: rgb(120, 139, 247);
    border: solid white 4px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex; 
    

}

.navbar {
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: flex-end;
    border: solid white 4px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   

}

#nav-items {
    display: flex;
    display: row;
    list-style-type: none;
    justify-content: space-between;
    font-size: 25px;

}

h1 {
    color: rgb(255, 255, 255);
    align-self: center;
    text-shadow: 2px 2px black;
    font-size: 6vh;
   
}


#container h2 {
    text-decoration: underline;
    font-size: 5vh;
    position: relative;
    left: 80px;
}


#container {
    display: flex;
}

#container div {
    background-color: rgb(225, 210, 255);
    border: solid white 4px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    

}

#container-about-me {
    background-color:rgb(238, 193, 247);
    line-height: 1;
    width: 30%;
    
}

#container img {
    width: 200px;
    height: 250px;
    border: solid white 4px;
    border-radius: 80px;
    margin-left: 5em;
    display: flex;
    align-items: center;
    justify-content: flex-start;

 
}

#container li {
    margin-bottom: 18px;
}

#container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    font-size: 3vh;
    flex-wrap: wrap;
    

}

#container-portfolio {
    width: auto;
}

    
#container2 {
    display: flex;
}

#container2 div {
    background-color: rgb(225, 210, 255);
    border: solid white 4px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    width: 100%;


}
 

   










